*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-image: url(https://i.gifer.com/COx.gif);
    background-size: 150%;
}

/* HEADER */
.cabeca{
    padding: 30px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
}
.cabeca h1{
    padding-left: 40px;
    width: 80%;
    font-family: 'Inconsolata', monospace;
}

.sobre{
    width: 30%;
    display: flex;
    justify-content: end;
    font-family: 'Inconsolata', monospace;
}

.sobreli{
    padding: 0 30px;
    list-style: none;
}

.sobreli a{
    text-decoration: none;
    font-size: 25px;   
    color: white;
}

/*MAIN*/
.main {
    height: 25vw;
    margin: 2%;
    border: 2px solid black;
    background-image: url(https://i.pinimg.com/originals/a9/52/9a/a9529a5067aa1f2fc995679ac89f10ad.gif);
    background-size: 62%;
    
}

.amigos{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 5%;
    text-align: center;
}

.baku{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 8%;
    text-align: center;
    width: 100px;
    height: 200px;
}

.amigos img{
    margin-top: 10%;
    width: 100px;
    height: 120px;
}

.maindois{
    height: 15vw;
    margin: 2%;
    border: 2px solid black;
    background-color: black;
    color:white;
}

.maindois p{
    font-size: 30px;
}

/*MAIN FASE 2*/
.biri{
     
    font-size:21px;
    font-family:Courier New;
    width:141px;
    height:50px;
    border-width:2px;
    color:rgba(0, 0, 0, 1);
    border-color:rgba(255, 255, 255, 1);
    font-weight:bold;
    border-top-left-radius:29px;
    border-top-right-radius:29px;
    border-bottom-left-radius:29px;
    border-bottom-right-radius:29px;
    text-shadow: 1px 5px 7px rgba(0, 0, 0, 1);
    background:rgba(252, 255, 254, 1);
  }
      
      
.biri:hover {
     background: white;
}
