*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-image: url(https://i.gifer.com/COx.gif);
    background-size: 150%;
}
/* HEADER */
.cabeca{
    padding: 30px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
}
.cabeca h1{
    padding-left: 40px;
    width: 80%;
    font-family: 'Inconsolata', monospace;
}

.sobre{
    width: 30%;
    display: flex;
    justify-content: end;
    font-family: 'Inconsolata', monospace;
}

.sobreli{
    padding: 0 30px;
    list-style: none;
}

.sobreli a{
    text-decoration: none;
    font-size: 25px;   
    color: white;
}
/* MAIN */
.main {
    height: 45vw;
    margin: 2%;
    border: 2px solid black;
    background-color: white;
}

.int{
    text-align: center;
    font-size: 100px;
}

.um{
    text-align: center;
    font-size: 30px;
}

.dois{
    text-align: center;
    font-size: 30px;
}

.tres{
    text-align: center;
    font-size: 30px;
}